.CreateBodyWeight-Container {
  margin: 0 auto;
  text-align: center;
}

.CreateBodyWeight-Container label {
  text-align: left;
  display: block;
}
.CreateBodyWeight-Container h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.CreateBodyWeight-Container input,
.CreateBodyWeight-Container textarea,
.CreateBodyWeight-Container select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.CreateBodyWeight-Container button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
